.form {
  display: flex;
  margin-top: 20px;
}

.form .label {
  margin-right: 5px;
  color: #fec303;
  font-size: 15px;
  align-items: flex-end;
  /* white-space: nowrap; */
}

/* .form .typecommand {
    margin-right: 15px;
    color: #fec303;
    font-size: 15px;
    color: transparent;
    text-shadow: 0 0 0 #2196f3;
  } */

.label ::before {
  content: icon;
}

.form .inputgetcommand {
  width: 250px;
  height: 20px;
  background-color: #011627;
  border-style: none;
  color: #149bda;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: "JetBrains Mono", monospace;
  overflow: hidden;
  outline-color: #011627;
  outline-style: none;
  box-sizing: border-box;
  cursor: text;
  white-space: nowrap;
}
