.social {
  margin-top: 55px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.telegram {
  color: #0088cc;
}

.telegram :hover {
  color: #3da5da;
}

.instagram {
  color: #e1306c;
  overflow: hidden;
}

.instagram :hover {
  color: #f06895;
}

.facebook {
  color: #3b5998;
}

.facebook :hover {
  color: #4764a1;
}

.logo {
  /* width: 185px; */
  height: 75px;
}
