.terminal {
  margin-top: 10px;
  background-color: #011627;
  grid-column-start: 1;
  grid-column-end: 5;
  border: 0.5rem solid #011627;
  box-shadow: 0 0 10px 7px rgb(255 255 255 / 10%);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 9px;
  position: relative;
  color: #db7638;
}

.termcontent {
  margin: 28px 40px 20px 40px;
  text-align: left;
}

.greeting {
  display: flex;
  color: #db7638;
  font-size: 16.5px;
  align-items: center;
}

.logo {
  margin-left: 8px;
  width: 33px;
  border-radius: 6px;
}

.logotitle {
  margin-left: 7px;
  color: aqua;
  font-weight: bold;
}

.help {
  color: aliceblue;
}

hr {
  border: none;
  border-top: 0.4px solid grey;
}


