.faq {
  margin-top: 20px;
  /* color: #fabce3ff; */
  color: #e08ac1;
  background-color: #021422;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 6px;
  padding-bottom: 30px;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.answer {
  margin-top: 10px;
  /* color: forestgreen; */
  /* color: #00827EFF; */
  color: #078682;
}

.span {
  color: #5ae1e5ff;
}

hr {
  border: none;
  border-top: 0.4px solid grey;
}

.ask {
  margin-top: 30px;
  opacity: 0.6;
}
