.inputwrap {
  margin-top: 25px;
}

.form .label {
  margin-right: 5px;
  color: #fec303;
  font-size: 15px;
  align-items: flex-end;
}

/* .form .typecommand {
  margin-right: 15px;
  color: #fec303;
  font-size: 15px;
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
} */

.label ::before {
  content: icon;
}

.form {
  display: flex;
}

.form .inputgetcommand {
  width: 450px;
  height: 20px;
  background-color: #011627;
  border-style: none;
  color: #149bda;
  font-size: 15px;
  letter-spacing: 3px;
  font-family: "JetBrains Mono", monospace;
  overflow: hidden;
  outline-color: #011627;
  outline-style: none;
  box-sizing: border-box;
  cursor: text;
}
/* =============== cursor start ================== */
/* .cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 1.5px;
  height: 90%;
  background-color: #149bda;
  left: 2px;
  animation-name: blink;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

/* =============== cursor end ================== */
