/*! цвета лого:
    #FEFEFEFF
    #C0E4B4FF
    #FABCE3FF
    #5AE1E5FF
*/

.App {
  display: flex;
  justify-content: center;
}

.grid {
  width: 75%;
  height: 650px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 550px;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
}



