/*! цвета лого:
    #FEFEFEFF
    #C0E4B4FF
    #FABCE3FF
    #5AE1E5FF 
*/

.App {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.grid {
  display: grid;
  /* height: 650px; */
  align-content: center;
  /* grid-auto-rows: minmax(500px, auto); */
  vertical-align: middle;
}

.terminalwrap {
  justify-content: center;
  width: 1000px;
  display: grid;
  /* height: 500px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 45px 5fr;
  background-color: #011627;
  /* grid-column-start: 1; */
  /* grid-column-end: 5; */
  border: 0.5rem solid #011627;
  box-shadow: 0 0 10px 7px rgb(255 255 255 / 10%);
  position: relative;
  color: #db7638;
  border-radius: 8px;
  font-family: "JetBrains Mono", monospace;
  margin-left: 40px;
  margin-right: 40px;
}
/* 
@media (max-width: 800px) {
  .terminalwrap {
    width: 800px;
  }
}
@media (max-width: 700px) {
  .terminalwrap {
    width: 700px;
  }
}
@media (max-width: 600px) {
  .App {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .App {
    width: 500px;
  }
}
@media (max-width: 400px) {
  .App {
    width: 400px;
  }
} */
